body{
    margin: 0;
    padding: 0;
}


.content-img{
    height: 100%;
    float: right;
}

.logo-login{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-login{
    font-size: 30px;
}

.content-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-login input{
    height: 35px;
    border: 1px solid #dddddd;
    outline: none;
}

.btn-login{
    width: 30%;
    background-color: yellow;
    border: none;
    font-weight: bolder;
    height: 35px;
}

@media screen and (max-width: 480px){
    .col-kiri{
        display: none;
    }

    .logo-register{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-login{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
